@media screen and (max-width: 800px){
    div#forecast{
        flex-direction: column;
        align-items: center;
    }
    div.day{
        display: flex;
        width: 75vw;
        justify-content: space-evenly;
        margin: 2rem 0;
    }
}